body {
    cursor: url('cursor.png') 16 16, auto;
}

.emoji-pop {
  position: absolute;
  font-size: 26px;
  animation: floatUp 3.5s ease-out forwards;
  opacity: 1;
  pointer-events: none;
}

@keyframes floatUp {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -500px) scale(1.9);
    opacity: 0;
  }
}